<section class='card project'>
  <!-- The contents of this card links to the project page using the project ID -->
  <a href='/projects/{{id}}'>
    <div class='project-details'>
      <h3>{{name}}</h3>
      <p>{{description}}</p>
      <p>Date created: {{date_created}}</p>
      <p>Funding needed: {{needed_funding}}</p>
    </div></a>
</section>